*{
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    margin-top: 50px;
    align-items: center;
    color: black;
}

.movie-list {
    margin-top: 0px;
    padding: 20px;
    display: flex;
    justify-content: center;
    color: white;
}

.movie-list ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 67px;
    padding: 0;
}

.movie-list li {
    display: flex;
    gap: 10px;
    background-color: olivedrab;
    padding: 20px;
    border-radius: 10px;
}

.movie-list img {
    width: 40%;
    height: auto;
    border-radius: 10px;
}

.director {
    font-style: italic;
}